{% extends "base.html" %}

{% block title %}Media info : {{ media.name }}{% endblock %}

{% block content %}
<h1>
{% if previous %}
<a href='/media/media/{{ previous.pk }}'>&lt;</a>&nbsp;
{% endif %}
{{ media }}
{% if next %}
&nbsp;<a href='/media/media/{{ next.pk }}'>&gt;</a>
{% endif %}
</h1>

<hr/>
<table>
    <tr><td>{{ media.name }}</td></tr>
    <tr><td>{{ media.comment }}</td></tr>
    <tr><td>
    {% for tag in media.tags %}{{ media.tag }}, {%endfor %}
    <a href='/admin/media/tag/add/'>(+)</a>
    </td></tr>
    <tr><td>Photo of : <a href='/media/link/camera/{{ media.pk }}'>(+)</a><ul>
        {% for camera in cameras %}
        <li>{{ camera }}</li>
        {% endfor %}
    </ul></td></tr>
    <tr><td>Exemple of :<a href='/media/link/exemple/{{ media.pk }}'>(+)</a><ul>
        {% for exemple in exemples %}
        <li>{{ exemple }}</li>
        {% endfor %}
    </ul></td></tr>
    <tr><td>Film Sheet of :<a href='/media/link/filmsheet/{{ media.pk }}'>(+)</a><ul>
        {% for filmsheet in filmsheets %}
        <li>{{ filmsheet }}</li>
        {% endfor %}
    </ul></td></tr>
    <tr><td>
      <img width='800' src='{{ media.url }}'/>
    </td></tr>
</table>
{% endblock %}
