{% extends "base.html" %}

{% block title %}Media info : {{ media.name }}{% endblock %}

{% block content %}
<h1>
{% if previous %}
<a href='/media/media/{{ previous.pk }}'>&lt;</a>&nbsp;
{% endif %}
{{ media }}
{% if next %}
&nbsp;<a href='/media/media/{{ next.pk }}'>&gt;</a>
{% endif %}
</h1>

<hr/>
<table>
    <tr><td>{{ media.name }}{% if not media.safe %} [NS]{% endif %}</td></tr>
    <tr><td>{{ media.comment }}</td></tr>
    <tr><td>Tag list : <a href='/media/tag/add/{{ media.pk }}'>(+)</a>
        {% for tag in media.tags %}{{ tag }}, {%endfor %}
    </td></tr>
    {% if not exemples and not filmsheets %}
    <tr><td>Photo of :
        {% if not cameras %}
            <a href='/media/link/camera/{{ media.pk }}'>(+)</a><ul>
        {% else %}
            <ul>
            {% for camera in cameras %}
            <li>{{ camera.camera_model }}</li>
            {% endfor %}
        {% endif %}
    </ul></td></tr>
    {% endif %}
    {% if not cameras and not filmsheets %}
    <tr><td>Exemple of :
        {% if not exemples %}
            <a href='/media/link/exemple/{{ media.pk }}'>(+)</a><ul>
        {% else %}
            <ul>
            {% for exemple in exemples %}
                <li>{{ exemple.film_life.film_catalog }}</li>
            {% endfor %}
        {% endif %}
    </ul></td></tr>
    {% endif %}
    {% if not cameras and not exemples %}
    <tr><td>Film Sheet of :
        {% if not filmsheets %}
            <a href='/media/link/filmsheet/{{ media.pk }}'>(+)</a><ul>
        {% else %}
            <ul>
            {% for filmsheet in filmsheets %}
            <li>{{ filmsheet.film_life }}</li>
            {% endfor %}
        {% endif %}
    </ul></td></tr>
    {% endif %}
    <tr><td>
      <img width='800' src='/media/display/{{ media.pk }}'/>
    </td></tr>
</table>
{% endblock %}
