{% extends "base.html" %}

{% block title %}Media list{% endblock %}

{% block content %}
{% if media_list %}
    <table>
        <tr><th><a href='/admin/media/media/add/'>Media</a></th><th>Action</th></tr>
    {% for media in media_list %}
        <tr>
          <td>
            {% if media.is_camera %}[C]&nbsp;
            {% elif media.is_exemple %}[E]&nbsp;
            {% elif media.is_filmsheet %}[F]&nbsp;
            {% endif %}
            <a href="/media/media/{{ media.pk }}">{{ media }}</a></td>
          <td>
            <a href='/'>
          </td>
        </tr>
    {% endfor %}
    </table>
{% else %}
    <p>Aucun media n'est disponible</p>
{% endif %}
{% endblock %}
