{% extends "base.html" %}

{% block title %}catalog stats{% endblock %}

{% block content %}
<h1>catalog stats</h1>

<hr/>

<table>
  <tr><td>Number of cameras</td><td>{{ camera_num }}</td></tr>
  <tr><td>Different models</td><td>{{ camera_model }}</td></tr>
  <tr><td>Total camera price</td><td>{{ total_camera_price }}&euro;</td></tr>
  <tr><td>Total lens price</td><td>{{ total_lens_price }}&euro;</td></tr>
  <tr><td>Total collection price</td><td>{{ total_price }}&euro;</td></tr>
  <tr><td>Number of done films</td><td>{{ film_done }}</td></tr>
  <tr><td>Total number of films</td><td>{{ film_num }}</td></tr>
  <tr><td>Different refs.</td><td>{{ film_ref }}</td></tr>
</table>

{% endblock %}
