{% extends "base.html" %}

{% block title %}InCameras{% endblock %}

{% block content %}

{% if incamera %}
  <table border='0'>
    <tr>
      <th>Ref</th>
      <th>camera</th>
      <th>film</th>
      <th>dev</th>
    </tr>
  {% for inc in incamera %}
    <tr class='border_top' name='border_top'>
      {% if not inc.film_life.reference %}
      <td class='border_side'>Loaded</td>
      {% else %}
      <td class='border_side'><a href='/admin/film/life/{{ inc.film_life.pk }}'>{{ inc.film_life.reference}}</a></td>
      {% endif %}
      <td><a href='/admin/film/incamera/{{ inc.pk }}'>{{ inc.camera_catalog.camera_model }}</a></td>
      <td>
        <a href='/film/catalog/{{ inc.film_life.film_catalog.pk }}'>
        {{ inc.film_life.film_catalog.film_ref }} ({{ inc.film_life.shoot_sensitivity }}) {{ inc.film_life.film_catalog.color }}</td>
        </a>
      {% if inc.film_life.comment %}
      <td>{{ inc.film_life.comment }}</td>
      {% else %}
      <td></td>
      {% endif %}
    </tr>
    <tr>
      <td colspan='1' class='border_side'/>
      <td colspan='1'>
        <a href='/admin/film/life/{{ inc.film_life.pk }}'>dev: {{ inc.film_life.develop.date }}</a>
      </td>
      <td colspan='1'>exp: {{ inc.film_life.film_catalog.expiration }}</td>
      <td colspan='1'>{{ inc.film_life.developer }}</td>
    </tr>

  {% endfor %}
{% else %}
    <p>aucune pellicule n'a été mise dans une camera</p>
{% endif %}
{% endblock %}
