{% extends "base.html" %}

{% block title %}load film in camera : {{ camera_catalog.camera_model }}{% endblock %}

{% block content %}
<h1>load film in camera : {{ camera_catalog.camera_model }}</h1>

<hr/>

{% if film_catalogs %}
    <table>
        <tr><th>Film</th><th>Action</th></tr>
    {% for film_catalog in film_catalogs %}
        <tr>
          <td>{{ film_catalog }}</td>
          {% if film_catalog.remaining %}
          <td><a href="/film/incamera/load/{{ camera_catalog.pk }}/camera/{{ film_catalog.pk }}" class='load icon'></a></td>
          {% else %}
          <td></td>
          {% endif %}
        </tr>
    {% endfor %}
    </table>
{% else %}
    <p>veuillez acheter des pellicules pour pouvoir charger votre appareil</p>
{% endif %}
{% endblock %}
