<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="fr">
<head>
  <link rel="stylesheet" type="text/css" href="/static/styles.css" />
  <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <div id="navbar">
      <ul id='menu' class='menu'>
        <li><a href='/camera/catalog'>Camera list</a></li>
        <li><a href='/camera/catalog?loaded=1'>Loaded camera</a></li>
        <li><a href='/film/catalog'>Film list</a></li>
        <li><a href='/film/incamera'>History</a></li>
        <li><a href='/camera/catalog?best=1'>Camera best</a></li>
        <li><a href='/media'>Media</a></li>
        <li><a href='/admin'>Administration</a></li>
        <li><a href='/'>Homepage</a></li>
      </ul>
    </div>
    <br/>
    <br/>
    {% block content %}{% endblock %}
    <hr/>
</body>
</html>

