{% extends "simple.html" %}

{% block title %}catalog index{% endblock %}

{% block content %}

<table>
<tr><td><a href='/camera/catalog'><img src='static/img/bouton_camera.png'/></a></td></tr>
<tr><td><a href='/film/catalog'><img src='static/img/bouton_film.png'/></a></td></tr>
<tr><td><a href='/film/incamera'><img src='static/img/bouton_history.png'/></a></td></tr>
<tr><td><a href='/film/action'><img src='static/img/bouton_action.png'/></a></td></tr>
<tr><td><a href='/camera/catalog?best=1'><img src='static/img/bouton_best.png'/></a></td></tr>
<tr><td><a href='/admin'><img src='static/img/bouton_admin.png'/></a></td></tr>
<tr><td><a href='/media'><img src='static/img/bouton_media.png'/></a></td></tr>
<tr><td><a href='/stats'><img src='static/img/bouton_stats.png'/></a></td></tr>
</table>

{% endblock %}
