{% extends "base.html" %}

{% block title %}camera edition : {{ camera.camera_model }}{% endblock %}

{% block content %}
<h1>Edit "{{ catalog.camera_model }}"</h1>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<form action="/camera/{{ catalog.pk }}/update/" method="post">

<table>
    <tr><td>marque de l'appareil photo</td><td></td></tr>
    <tr><td>modele de l'appareil photo</td><td></td></tr>
    <tr><td>date</td><td>{{ catalog.date }}</td></tr>
    {% if catalog.is_borrowed %}
        <tr><td>borrowed</td><td>{{ catalog.who }}</td></tr>
    {% endif %}
    {% if catalog.given %}
        <tr><td>given by</td><td>{{ catalog.who }}</td></tr>
    {% endif %}
    {% if catalog.gift %}
        <tr><td>gift by</td><td>{{ catalog.who }}</td></tr>
    {% endif %}

    <tr><td>working</td><td>{{ catalog.working }}</td></tr>
    <tr><td>price</td><td>{{ catalog.price }}</td></tr>
    <tr><td>serial number</td><td>{{ catalog.sn }}</td></tr>
    <tr><td>comment</td><td>{{ catalog.comment }}</td></tr>
</table>

<input type="submit" value="Ok" />
</form>
{% endblock %}
