{% extends "base.html" %}

{% block title %}Camera list{% endblock %}

{% block content %}
{% if catalog_list %}
    <table>
        <tr><th>Camera</th><th>Action</th></tr>
    {% for catalog in catalog_list %}
        <tr>
          <td><a href="/camera/catalog/{{ catalog.pk }}">{{ catalog }}</a></td>
	  {% if catalog.loaded %}
          <td><a href="/film/incamera/unload/camera/{{ catalog.pk }}">unload</a></td>
          {% else %}
          <td><a href="/film/incamera/load/camera/{{ catalog.pk }}">load</a></td>
          {% endif %}
          <td><a href='/admin/camera/catalog/{{ catalog.pk }}'><img src='/static/icons/edit.png' alt='edit'/></a></td>
        </tr>
    {% endfor %}
    </table>
{% else %}
    <p>Aucun appareil photo n'est disponible.</p>
{% endif %}
{% endblock %}
