{% extends "base.html" %}

{% block title %}Camera list{% endblock %}

{% block content %}
{% if catalog_list %}
    <table>
        <tr><th><a href='/admin/camera/catalog/add'>Camera</a></th><th colspan='3'>Action</th></tr>
    {% for catalog in catalog_list %}
        <tr>
          <td><a href="/camera/catalog/{{ catalog.pk }}">{{ catalog }}</a></td>
	  {% if not catalog.gotit %}
	  {% else %}
	    {% if catalog.loaded %}
              <td><a href="/film/incamera/unload/camera/{{ catalog.pk }}" class='unload icon'></a></td>
	    {% else %}
	      <td><a href="/film/incamera/load/camera/{{ catalog.pk }}" class='load icon'></a></td>
	    {% endif %}
          <td><a href='/admin/camera/catalog/{{ catalog.pk }}' class='edit icon'></a></td>
	  {% endif %}
          {% if catalog.num_films %}
          <td><div class='check icon'>&nbsp;</div></td>
          {% endif %}
        </tr>
    {% endfor %}
    </table>
{% else %}
    <p>Aucun appareil photo n'est disponible.</p>
{% endif %}
{% endblock %}
