{% extends "base.html" %}

{% block title %}life info : {{ life.film_catalog }}{% endblock %}

{% block content %}
<h1>{{ life }}</h1>

<hr/>

<table>
    <tr><td>Name</td><td>{{ life.film_catalog }}</td></tr>
    <tr><td>Shoot sensitivity</td><td>{{ life.shoot_sensitivity }}</td></tr>
    <tr><td>Dev. sensitivity</td><td>{{ life.dev_sensitivity }}</td></tr>
    <tr><td>Developer</td><td>{{ life.developer }}</td></tr>
    <tr><td>Handle</td><td>{{ life.handle }}</td></tr>
    <tr><td>Reference</td><td>{{ life.reference }}</td></tr>
    <tr><td>Insertion date</td><td>{{ life.insertion }}</td></tr>
    <tr><td>Removal date</td><td>{{ life.removal }}</td></tr>
    <tr><td>Develop date</td><td>{{ life.develop }}</td></tr>
    <tr><td>Action</td><td>
            {% if not life.developed %}
            {% if life.unloaded %}
                <a href="/film/incamera/develop/{{ life.id }}">devel</a>
            {% else %}
            {% if life.loaded %}
                <a href="/film/incamera/unload/life/{{ life.id }}">unload from {{ life.loaded.camera_catalog }}</a>
            {% else %}
                <a href="/film/incamera/load/life/{{ life.id }}">load</a>
            {% endif %}
            {% endif %}
            {% endif %}
    </td></tr>
</table>

<hr/>

<table>
    <tr><td><a href='/admin/film/life/{{ life.pk }}'>Edit life</a></td></tr>
    {% if incamera %}
    <tr><td><a href='/admin/film/incamera/{{ incamera.pk }}'>Edit incamera</a></td></tr>
    {% endif %}
</table>
{% endblock %}
