{% extends "base.html" %}

{% block title %}Film list{% endblock %}

{% block content %}

{% if catalog_list %}
    <table>
	<tr>
          <th><a href='/admin/film/catalog/add/'>Films</a></th>
          <th>Sensitivity</th>
          <th>Expiration</th>
          <th>Remaining</th>
          <th>Action</th>
        </tr>
    {% for catalog in catalog_list %}
        <tr>
          <td><a href="/film/catalog/{{ catalog.pk }}">{{ catalog.film_ref }}</a></td>
          <td>{{ catalog.film_sensitivity }}</td>
          <td>{{ catalog.expiration }}</td>
          <td>{{ catalog.remaining|length }}</td>
          <td><a href='/admin/film/catalog/{{ catalog.pk }}' class='edit icon'></a></td>
        </tr>
    {% endfor %}
    </table>
{% else %}
    <p>Aucune pellicule n'est disponible.</p>
{% endif %}
{% endblock %}
